<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="inficode" translate="label" sortOrder="400">
            <label>Inficode</label>
        </tab>
        <section id="inficode_delete_order" translate="label" type="text" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Delete Order</label>
            <tab>inficode</tab>
            <resource>Inficode_DeleteOrder::delete_order</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Eneble</label>
                    <comment>Enable/Disable Delete Order Module.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_order_statuses" translate="label comment" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Order Statuses</label>
                    <comment>Allow Order Statuses To Delete Order.</comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
